:root {
}

#OptionsButton:hover {
    transition-duration: 0.5s;
    rotate: 180deg;
}

#NameInput > #unity-text-input {
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    -unity-text-align: upper-center;
    background-image: url("project://database/Assets/Art/Game%20UI/Title%20UI/inputbox_bg.png?fileID=2800000&guid=bc6eb89c8b27df242a97893588de3f2f&type=3#inputbox_bg");
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
}

#NameInput > #unity-text-input > .unity-text-element--inner-input-field-component {
    font-size: 88px;
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 20px;
    -unity-text-outline-color: rgb(255, 115, 155);
    letter-spacing: 14px;
}

#NameInput:focus > #unity-text-input {
    transition-duration: 0.5s;
    filter: tint(rgb(163, 223, 237));
}

.input_common {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 30px;
}

.input_common > .unity-popup-field__label {
    -unity-text-outline-width: 5px;
    -unity-text-outline-color: rgb(255, 115, 155);
    width: 100%;
    align-items: stretch;
    align-self: flex-start;
    -unity-text-align: upper-left;
    padding-left: 20px;
}

.input_common:focus > .unity-popup-field__label {
    color: rgb(255, 255, 255);
}

.input_common > .unity-slider__label {
    -unity-text-outline-width: 5px;
    -unity-text-outline-color: rgb(255, 115, 155);
    width: 100%;
    align-items: stretch;
    align-self: flex-start;
    -unity-text-align: upper-left;
    padding-left: 20px;
}

.input_common:focus > .unity-slider__label {
    color: rgb(255, 255, 255);
}

.input_common > .unity-popup-field__input {
    flex-grow: 1;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-left-color: rgb(218, 83, 87);
    border-right-color: rgb(218, 83, 87);
    border-top-color: rgb(218, 83, 87);
    border-bottom-color: rgb(218, 83, 87);
    padding-right: 30px;
    padding-left: 30px;
    font-size: 70px;
}

.input_common > .unity-popup-field__input > .unity-base-popup-field__text {
    height: auto;
    flex-grow: 1;
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgb(255, 115, 155);
    letter-spacing: 5px;
}

.input_common > .unity-slider__input > #unity-drag-container > #unity-tracker {
    height: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(218, 83, 87);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.input_common > .unity-slider__input > #unity-drag-container > #unity-dragger-border {
}

.input_common > .unity-slider__input > #unity-drag-container > #unity-dragger {
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    height: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 30px;
    border-left-color: rgb(255, 115, 155);
    border-right-color: rgb(255, 115, 155);
    border-top-color: rgb(255, 115, 155);
    border-bottom-color: rgb(255, 115, 155);
    background-color: rgb(255, 255, 255);
}