:root {
}



#OptionsButton:hover {
    transition-duration: 0.5s;
    rotate: 180deg;
}

#NameInput > #unity-text-input {
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    -unity-text-align: upper-center;
    background-image: url("project://database/Assets/Art/Game%20UI/Title%20UI/inputbox_bg.png?fileID=2800000&guid=bc6eb89c8b27df242a97893588de3f2f&type=3#inputbox_bg");
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(0, 0, 0, 0);
}

#NameInput > #unity-text-input > .unity-text-element--inner-input-field-component {
    font-size: 88px;
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 20px;
    -unity-text-outline-color: rgb(255, 115, 155);
    letter-spacing: 14px;
}
